<%- include("header") -%>
    <div class="box">
        <div class="contact-outer-container">
            <div class="contact-inner-container">
                <p style="font-size: 2rem; padding-bottom: -0.3rem; margin-bottom: 0;">Contact Us</p>
                <p class="comment">If you have any questions or comments about our website, or if you'd like to report a
                    bug, please don't hesitate to contact us. You can reach us by email at harshjain0461@gmail.com.</p>
                <form action="/contact" method="post" class="bug">
                    <textarea id="" cols="100" rows="2" name="message"></textarea>
                    <button type="submit" class="button">Report bug</button>
                </form>
                <!-- <h3 class="developer">Developer: Harsh Jain</h3> -->
            </div>
        </div>
    </div>
    <%- include("footer") -%>