
<!-- <div class="fotter">
  <footer>Copyright © 2023 PdfX.com</footer>
</div> -->

<script>

function onClickMenu() {
  console.log("hfgaddjkfdfv");
  const hamburger = document.getElementById("menu");
  hamburger.classList.toggle("icon");
  document.getElementById("nav").classList.toggle("change");
  // document.getElementById("nav").remove();
}
</script>
</body>
</html>  