<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PdfX </title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="/css/styles.css">
    
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav1">
                <li>PdfX</li>
            </ul>
            <div id="navigation">
                <div id="menu" class="harsh" onclick="onClickMenu()">
                    <div id="bar1" class="bar"></div>
                    <div id="bar2" class="bar"></div>
                    <div id="bar3" class="bar"></div>
                </div>
                <ul id="nav" class="nav2" >
                      <li><a href="/">Home</a> </li>
                    <!-- <li class="item"><a href="/about">About</a></li> -->
                    <li><a href="/contact">Contact Us</a></li>
                    <li><a href="/profile">Profile</a> </li>
                    <form action="/signin" method="get">
                        <li><button class="button">Sign up</button></li>
                    </form>
                    <form action="/login" method="get">
                        <li><button class="button">Login In</button></li>
                    </form>
                </ul>
            </div>
            
        </nav>
      </header>
      
